@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

:root {
	--primary-color: #31c89b;
	--primary-color-dark: #178795;
	--white: #fff;
	--gray: #aaa;
	--dark-blue: #24244e;
	--yellow: #f3c90c;
	--black: #000;
	--light: #f8f9fa
}

* {
	font-family: 'Noto Sans TC', sans-serif;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

html {
	overflow: hidden;
	height: 100vh
}

body {
	overflow-x: hidden;
	position: relative;
	width: 100vw;
	height: 100vh
}

	body.open {
		overflow: hidden;
		height: 100vh
	}

img {
	-o-object-fit: cover;
	object-fit: cover
}

::-webkit-scrollbar {
	width: 1px;
	position: absolute;
	right: -10px;
	z-index: -1
}

::-webkit-scrollbar-track {
	background: transparent
}

::-webkit-scrollbar-thumb {
	border-radius: 10px
}

.dropdown-item {
	display: inline-block;
	padding: 8px 16px
}

	.dropdown-item:active, .dropdown-item:focus {
		background: transparent;
		color: var(--gray) !important;
		border: none
	}

	.dropdown-item:hover {
		background: transparent;
		color: var(--primary-color) !important
	}

.container-xxl {
	max-width: 1400px;
	margin: auto;
	padding: 15px
}

.white-space {
	white-space: nowrap
}

.btn:focus, .btn:visited {
	-webkit-box-shadow: none !important;
	box-shadow: none !important
}

.color-gray {
	color: var(--gray)
}

.color-yellow {
	color: var(--yellow)
}

.color-skyblue {
	color: var(--primary-color)
}

.faded {
	opacity: 0
}

.faded-right {
	-webkit-transform: translateX(100px);
	transform: translateX(100px);
	-webkit-animation: faded_right 1s forwards ease;
	animation: faded_right 1s forwards ease;
	-webkit-animation-delay: var(--delay);
	animation-delay: var(--delay)
}

@-webkit-keyframes faded_rgiht {
	from {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes faded_rgiht {
	from {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

.faded-bottom {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
	-webkit-animation: faded_bottom 1s forwards ease;
	animation: faded_bottom 1s forwards ease;
	-webkit-animation-delay: var(--delay);
	animation-delay: var(--delay)
}

@-webkit-keyframes faded_bottom {
	from {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes faded_bottom {
	from {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.faded-left {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
	-webkit-animation: faded_left 1s forwards ease;
	animation: faded_left 1s forwards ease;
	-webkit-animation-delay: var(--delay);
	animation-delay: var(--delay)
}

@-webkit-keyframes faded_left {
	from {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes faded_left {
	from {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.faded-top {
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-animation: faded_top 1s forwards ease;
	animation: faded_top 1s forwards ease;
	-webkit-animation-delay: var(--delay);
	animation-delay: var(--delay)
}

@-webkit-keyframes faded_top {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes faded_top {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

.section_loading {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--light);
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transition: .4s ease-out;
	transition: .4s ease-out
}

	.section_loading.inactive {
		opacity: 0;
		pointer-events: none
	}

	.section_loading .broom {
		width: 15px;
		height: 100px;
		position: relative;
		margin: auto;
		margin-top: 150px;
		-webkit-transform-origin: top center;
		transform-origin: top center;
		animation: sweep 1.2s infinite alternate-reverse
	}

		.section_loading .broom .broom-handle {
			width: 15px;
			height: 100px;
			background-color: #5a4530;
			border-radius: 50px
		}

			.section_loading .broom .broom-handle:before, .section_loading .broom .broom-handle:after {
				content: '';
				display: block;
				z-index: 1;
				width: 31px;
				height: 10px;
				background-color: #ed6e46;
				border-radius: 10px;
				position: absolute;
				right: -10px
			}

			.section_loading .broom .broom-handle:before {
				bottom: 0
			}

			.section_loading .broom .broom-handle:after {
				bottom: -5px
			}

		.section_loading .broom .brushes {
			width: 120px;
			height: 120px;
			background-color: #f8b65b;
			border-radius: 50px 50px 5px 5px;
			position: absolute;
			left: -52px;
			top: 100px;
			overflow: hidden
		}

			.section_loading .broom .brushes .string {
				width: 360px;
				height: 360px;
				border: 5px solid #ed6e46;
				position: absolute;
				left: -115px;
				top: -316px;
				border-radius: 100%
			}

			.section_loading .broom .brushes .string-2 {
				width: 350px;
				left: -108px;
				top: -305px
			}

		.section_loading .broom .line {
			width: 2px;
			height: 50px;
			background-color: #e0a155;
			position: absolute;
			border-radius: 50px;
			left: -38px;
			top: 170px
		}

		.section_loading .broom .line-2 {
			left: -23px
		}

		.section_loading .broom .line-3 {
			left: -8px
		}

		.section_loading .broom .line-4 {
			left: 7px
		}

		.section_loading .broom .line-5 {
			left: 22px
		}

		.section_loading .broom .line-6 {
			left: 37px
		}

		.section_loading .broom .line-7 {
			left: 52px
		}

	.section_loading .ash {
		background: #eeebeb;
		background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #ece9e9), to(#f0f0f0));
		background: linear-gradient(to top, #ece9e9 5%, #f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ece9e9', endColorstr='#f0f0f0', GradientType=0);
		border-radius: 100px;
		-webkit-box-shadow: 0 8px 5px rgba(0,0,0,0.1);
		box-shadow: 0 8px 5px rgba(0,0,0,0.1);
		height: 120px;
		width: 350px;
		position: relative;
		left: -10%;
		top: 10%;
		-webkit-transform: scale(0.3);
		transform: scale(0.3);
		opacity: 0;
		-webkit-animation: ash_left 2.4s .7s ease infinite;
		animation: ash_left 2.4s .7s ease infinite
	}

		.section_loading .ash:after, .section_loading .ash:before {
			content: '';
			background: #eeececdf;
			position: absolute;
			z-indeX: -1
		}

		.section_loading .ash:after {
			border-radius: 100px;
			height: 100px;
			left: 50px;
			top: -50px;
			width: 100px
		}

		.section_loading .ash:before {
			border-radius: 200px;
			width: 180px;
			height: 180px;
			right: 50px;
			top: -90px
		}

		.section_loading .ash.ash-right {
			left: 40%;
			top: -10%;
			-webkit-animation: ash_right 2.4s 1.5s ease infinite;
			animation: ash_right 2.4s 1.5s ease infinite
		}

@-webkit-keyframes sweep {
	0% {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg)
	}

	100% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
}

@keyframes sweep {
	0% {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg)
	}

	100% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
}

@-webkit-keyframes ash_left {
	0% {
		left: -10%;
		opacity: 0;
		-webkit-transform: translateY(-20px) scale(0.3);
		transform: translateY(-20px) scale(0.3)
	}

	50% {
		left: -15%;
		opacity: 1
	}

	100% {
		left: -20%;
		opacity: 0;
		-webkit-transform: translateY(-50px) scale(0.3);
		transform: translateY(-50px) scale(0.3)
	}
}

@keyframes ash_left {
	0% {
		left: -10%;
		opacity: 0;
		-webkit-transform: translateY(-20px) scale(0.3);
		transform: translateY(-20px) scale(0.3)
	}

	50% {
		left: -15%;
		opacity: 1
	}

	100% {
		left: -20%;
		opacity: 0;
		-webkit-transform: translateY(-50px) scale(0.3);
		transform: translateY(-50px) scale(0.3)
	}
}

@-webkit-keyframes ash_right {
	0% {
		left: 40%;
		opacity: 0;
		-webkit-transform: translateY(-20px) scale(0.3);
		transform: translateY(-20px) scale(0.3)
	}

	50% {
		left: 45%;
		opacity: 1
	}

	100% {
		left: 50%;
		opacity: 0;
		-webkit-transform: translateY(-50px) scale(0.3);
		transform: translateY(-50px) scale(0.3)
	}
}

@keyframes ash_right {
	0% {
		left: 40%;
		opacity: 0;
		-webkit-transform: translateY(-20px) scale(0.3);
		transform: translateY(-20px) scale(0.3)
	}

	50% {
		left: 45%;
		opacity: 1
	}

	100% {
		left: 50%;
		opacity: 0;
		-webkit-transform: translateY(-50px) scale(0.3);
		transform: translateY(-50px) scale(0.3)
	}
}

.section_nav {
	-webkit-box-shadow: 0 1px 10px #8a878780;
	box-shadow: 0 1px 10px #8a878780;
	background: var(--light);
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90
}

	.section_nav .hamburger {
		border-color: transparent;
		background: transparent
	}

	.section_nav #collapse {
		pointer-events: auto
	}

	.section_nav .collapse.navbar-collapse .navbar-nav .nav-link:hover {
		color: var(--primary-color)
	}

	.section_nav .collapse.navbar-collapse .navbar-nav .nav-link:focus {
		color: auto
	}

	.section_nav .collapse.navbar-collapse .navbar-nav .nav-link.all-service.active {
		color: var(--primary-color)
	}

	.section_nav .collapse.navbar-collapse .nav_btn-group .login-register {
		border-color: var(--primary-color) !important
	}

		.section_nav .collapse.navbar-collapse .nav_btn-group .login-register:hover {
			background: var(--primary-color) !important;
			color: var(--white) !important
		}

	.section_nav .collapse.navbar-collapse .nav_btn-group .member-center {
		cursor: pointer;
		border-color: var(--primary-color) !important
	}

		.section_nav .collapse.navbar-collapse .nav_btn-group .member-center:hover {
			background: var(--primary-color) !important;
			color: var(--white) !important
		}

	.section_nav .side-menu {
		position: absolute;
		right: 100%;
		width: 100%;
		height: 100vh;
		z-index: 100;
		top: 0;
		padding: 20px 40px 0 0;
		background: var(--white);
		-webkit-transition: .3s ease;
		transition: .3s ease
	}

	.section_nav .side-menu_header .fa-times {
		font-size: 40px;
		cursor: pointer;
		-webkit-transition: .4s ease-out;
		transition: .4s ease-out;
		-webkit-transform: scale(0);
		transform: scale(0)
	}

		.section_nav .side-menu_header .fa-times.show {
			-webkit-transform: scale(1) rotate(360deg);
			transform: scale(1) rotate(360deg)
		}

	.section_nav .side-menu_body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 50px 0 0 0
	}

		.section_nav .side-menu_body a:hover {
			color: var(--primary-color) !important
		}

		.section_nav .side-menu_body .side-menu_all-service {
			position: absolute;
			width: 100%;
			height: calc(100vh - 50px);
			top: 70px;
			left: -100%;
			background: var(--white);
			padding: 0 0 0 20px;
			-webkit-transition: .3s ease-out;
			transition: .3s ease-out
		}

			.section_nav .side-menu_body .side-menu_all-service .all-service {
				display: inline;
				font-weight: 700;
				font-size: 18px
			}

			.section_nav .side-menu_body .side-menu_all-service.active {
				left: 0
			}

			.section_nav .side-menu_body .side-menu_all-service .subItem span {
				cursor: pointer
			}

				.section_nav .side-menu_body .side-menu_all-service .subItem span i {
					-webkit-transition: .4s ease;
					transition: .4s ease
				}

			.section_nav .side-menu_body .side-menu_all-service .subItem .subSubItem {
				height: 0;
				pointer-events: none
			}

				.section_nav .side-menu_body .side-menu_all-service .subItem .subSubItem a {
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					-webkit-transition: -webkit-transform .3s ease-out;
					transition: -webkit-transform .3s ease-out;
					transition: transform .3s ease-out;
					transition: transform .3s ease-out, -webkit-transform .3s ease-out;
					opacity: 0;
					-webkit-transition-delay: var(--delay);
					transition-delay: var(--delay)
				}

			.section_nav .side-menu_body .side-menu_all-service .subItem.open span {
				color: var(--primary-color)
			}

				.section_nav .side-menu_body .side-menu_all-service .subItem.open span i {
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg)
				}

			.section_nav .side-menu_body .side-menu_all-service .subItem.open .subSubItem {
				height: 100%;
				pointer-events: auto
			}

				.section_nav .side-menu_body .side-menu_all-service .subItem.open .subSubItem a {
					-webkit-transform: translateX(0);
					transform: translateX(0);
					opacity: 1
				}

		.section_nav .side-menu_body .nav-link {
			text-align: left
		}

	.section_nav .side-menu.show {
		right: 0%
	}

	.section_nav .side-menu .login-register {
		border-color: var(--primary-color) !important
	}

		.section_nav .side-menu .login-register:hover {
			background: var(--primary-color) !important;
			color: var(--white) !important
		}

	.section_nav .side-menu .member-center {
		cursor: pointer
	}

		.section_nav .side-menu .member-center:hover {
			color: var(--primary-color)
		}

.section_collapse-zone {
	position: fixed
}

.section_cart-side-menu {
	top: 0;
	right: -200%;
	z-index: 500;
	width: 100vw;
	height: 100vh;
	-webkit-transition: .5s ease-out;
	transition: .5s ease-out;
	background: -webkit-gradient(linear, left top, right top, from(transparent), to(#eeeeee70));
	background: linear-gradient(to right, transparent, #eeeeee70)
}

	.section_cart-side-menu .container-fluid {
		height: 100vh;
		padding: 0
	}

		.section_cart-side-menu .container-fluid .row {
			height: 100%
		}

			.section_cart-side-menu .container-fluid .row .col-12 {
				height: 100vh;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column
			}

	.section_cart-side-menu.open {
		right: 0
	}

	.section_cart-side-menu .cart {
		height: 100%;
		padding: 0 30px;
		background: var(--light);
		-webkit-box-shadow: -2px 0 10px #0000002d;
		box-shadow: -2px 0 10px #0000002d;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

		.section_cart-side-menu .cart .cart-header {
			height: 10%
		}

			.section_cart-side-menu .cart .cart-header i {
				padding: 40px 20px 0 0;
				font-size: 30px;
				cursor: pointer
			}

			.section_cart-side-menu .cart .cart-header h2 {
				padding: 70px 0 20px 0;
				border-bottom: 1px solid #666
			}

		.section_cart-side-menu .cart .cart-body {
			overflow-y: scroll;
			height: 200px;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1
		}

			.section_cart-side-menu .cart .cart-body::-webkit-scrollbar {
				width: 8px
			}

			.section_cart-side-menu .cart .cart-body::-webkit-scrollbar-thumb {
				background: var(--gray)
			}

			.section_cart-side-menu .cart .cart-body::-webkit-scrollbar-track {
				background: #908f8f36
			}

		.section_cart-side-menu .cart .cart-footer {
			height: 40%
		}

			.section_cart-side-menu .cart .cart-footer button {
				width: 100%;
				background: var(--primary-color);
				color: var(--white)
			}

.section_footer {
	padding: 50px 0;
	background: var(--dark-blue)
}

	.section_footer .line-link img {
		width: 60px;
		height: 60px
	}

	.section_footer li, .section_footer a {
		color: var(--white);
		padding: 5px 0
	}

	.section_footer p {
		color: var(--white)
	}

	.section_footer hr {
		background: var(--light)
	}

	.section_footer .contact-us {
		position: fixed;
		bottom: 4%;
		right: 5%;
		z-index: 100
	}

		.section_footer .contact-us button {
			width: 50px;
			height: 50px;
			padding: 10px;
			background: var(--primary-color);
			letter-spacing: 2px;
			text-align: center;
			position: relative;
			bottom: 0;
			-webkit-transition: all .3s .1s ease-in, color .2s;
			transition: all .3s .1s ease-in, color .2s
		}

			.section_footer .contact-us button:hover {
				color: var(--white)
			}

			.section_footer .contact-us button.active {
				bottom: -800px
			}

			.section_footer .contact-us button span {
				display: none
			}

	.section_footer .contact-us-form {
		width: 300px;
		-webkit-box-shadow: 1px 1px 10px #00000080;
		box-shadow: 1px 1px 10px #00000080;
		border-radius: 10px;
		position: absolute;
		right: -5px;
		bottom: -900px;
		-webkit-transition: .3s ease-in;
		transition: .3s ease-in;
		opacity: 0
	}

		.section_footer .contact-us-form .form-header {
			background: var(--primary-color);
			padding: 20px 0 15px;
			position: relative;
			text-align: center;
			border-radius: 10px 10px 0 0
		}

			.section_footer .contact-us-form .form-header h5 {
				font-size: 16px
			}

			.section_footer .contact-us-form .form-header i {
				top: 40%;
				right: 10%;
				cursor: pointer
			}

		.section_footer .contact-us-form .form-body {
			background: var(--white);
			padding: 15px;
			overflow-y: scroll;
			height: 400px
		}

			.section_footer .contact-us-form .form-body .input-groupings {
				padding: 10px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column
			}

				.section_footer .contact-us-form .form-body .input-groupings input, .section_footer .contact-us-form .form-body .input-groupings textarea {
					border: 1px solid var(--gray);
					border-radius: 5px;
					margin-top: 10px;
					padding: 5px;
					-webkit-box-flex: 1;
					-ms-flex-positive: 1;
					flex-grow: 1
				}

				.section_footer .contact-us-form .form-body .input-groupings textarea {
					resize: none
				}

			.section_footer .contact-us-form .form-body::-webkit-scrollbar {
				width: 8px
			}

			.section_footer .contact-us-form .form-body::-webkit-scrollbar-thumb {
				background: var(--gray)
			}

			.section_footer .contact-us-form .form-body::-webkit-scrollbar-track {
				background: #eeeeee80
			}

		.section_footer .contact-us-form .form-footer {
			border-top: 1px solid var(--gray);
			background: var(--white);
			position: relative;
			padding: 30px 0 40px;
			border-radius: 0 0 10px 10px
		}

			.section_footer .contact-us-form .form-footer input[type="submit"] {
				position: absolute;
				bottom: 25%;
				right: 5%;
				padding: 5px;
				background: var(--primary-color);
				color: var(--white)
			}

		.section_footer .contact-us-form.active {
			bottom: 0;
			opacity: 1
		}

@media screen and (min-width: 768px) {
	.section_loading .broom {
		height: 300px
	}

		.section_loading .broom .broom-handle {
			width: 15px;
			height: 100px;
			background-color: #5a4530;
			border-radius: 50px
		}

			.section_loading .broom .broom-handle:before {
				top: 90px
			}

			.section_loading .broom .broom-handle:after {
				top: 80px
			}

	.section_loading .ash {
		left: 5%;
		top: -10%
	}

		.section_loading .ash.ash-right {
			top: -25%
		}

	@-webkit-keyframes ash_left {
		0% {
			left: 5%;
			opacity: 0
		}

		50% {
			left: 0%;
			opacity: 1;
			-webkit-transform: translateY(-30px) scale(0.4);
			transform: translateY(-30px) scale(0.4)
		}

		100% {
			opacity: 0;
			-webkit-transform: translateY(-40px) scale(0.4);
			transform: translateY(-40px) scale(0.4)
		}
	}

	@keyframes ash_left {
		0% {
			left: 5%;
			opacity: 0
		}

		50% {
			left: 0%;
			opacity: 1;
			-webkit-transform: translateY(-30px) scale(0.4);
			transform: translateY(-30px) scale(0.4)
		}

		100% {
			opacity: 0;
			-webkit-transform: translateY(-40px) scale(0.4);
			transform: translateY(-40px) scale(0.4)
		}
	}

	@-webkit-keyframes ash_right {
		0% {
			left: 55%;
			opacity: 0
		}

		50% {
			left: 60%;
			opacity: 1;
			-webkit-transform: translateY(-20px) scale(0.4);
			transform: translateY(-20px) scale(0.4)
		}

		100% {
			left: 60%;
			opacity: 0;
			-webkit-transform: translate(10px, -30px) scale(0.4);
			transform: translate(10px, -30px) scale(0.4)
		}
	}

	@keyframes ash_right {
		0% {
			left: 55%;
			opacity: 0
		}

		50% {
			left: 60%;
			opacity: 1;
			-webkit-transform: translateY(-20px) scale(0.4);
			transform: translateY(-20px) scale(0.4)
		}

		100% {
			left: 60%;
			opacity: 0;
			-webkit-transform: translate(10px, -30px) scale(0.4);
			transform: translate(10px, -30px) scale(0.4)
		}
	}

	.section_footer .contact-us button {
		width: auto;
		height: auto
	}

		.section_footer .contact-us button span {
			display: inline;
			padding-left: 15px
		}

	.section_footer .contact-us-form {
		width: 400px;
		right: 0
	}
}

@media screen and (min-width: 992px) {
	.section_nav .hamburger {
		margin-left: auto
	}

	.section_nav .navbar-expand-lg .navbar-collapse {
		display: none !important
	}

	.section_collapse-zone {
		width: 100%;
		z-index: 2
	}

		.section_collapse-zone.open {
			background: #33333380;
			height: 100vh
		}

	.section_cart-side-menu .cart-body {
		height: 500px
	}
}

@media screen and (min-width: 1024px) {
	.section_nav .hamburger {
		display: none
	}

	.section_nav .navbar-expand-lg .navbar-collapse {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important
	}

	.section_nav .side-menu {
		display: none
	}

	.section_footer {
		background: var(--white)
	}

		.section_footer li, .section_footer a {
			color: var(--dark);
			padding: 5px 0
		}

		.section_footer p {
			color: var(--dark)
		}

		.section_footer hr {
			background: var(--dark)
		}
}

@media screen and (min-width: 1400px) {
	.section_loading .ash {
		left: 25%
	}

	@-webkit-keyframes ash_left {
		0% {
			left: 30%;
			opacity: 0;
			-webkit-transform: translateY(-20px) scale(0.4);
			transform: translateY(-20px) scale(0.4)
		}

		50% {
			left: 25%;
			opacity: 1
		}

		100% {
			opacity: 0;
			-webkit-transform: translateY(-50px) scale(0.4);
			transform: translateY(-50px) scale(0.4)
		}
	}

	@keyframes ash_left {
		0% {
			left: 30%;
			opacity: 0;
			-webkit-transform: translateY(-20px) scale(0.4);
			transform: translateY(-20px) scale(0.4)
		}

		50% {
			left: 25%;
			opacity: 1
		}

		100% {
			opacity: 0;
			-webkit-transform: translateY(-50px) scale(0.4);
			transform: translateY(-50px) scale(0.4)
		}
	}

	@keyframes ash_left {
		0% {
			left: 30%;
			opacity: 0;
			-webkit-transform: translateY(-20px) scale(0.4);
			transform: translateY(-20px) scale(0.4)
		}

		50% {
			left: 25%;
			opacity: 1
		}

		100% {
			opacity: 0;
			-webkit-transform: translateY(-50px) scale(0.4);
			transform: translateY(-50px) scale(0.4)
		}
	}
}
